.drawer-wrapper {
  &.ant-drawer {
    z-index: 10000;
  }

  .drawer-header-wrapper {
    .drawer-title-wrapper {
      h2.drawer-title {
        float: left;
        margin-top: 15px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  
    .drawer-close-wrapper {
      display: flex;
      float: right;
      padding: 12px 15px 12px;
  
      .anticon {
        svg {
          width: 20px;
        }
      }
      
      > button {
        border: 0;
        padding: 0;
        background-color: transparent;
        font-size: 38px;
        line-height: 1;
        height: auto;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        color: $text;
        transition: all 0.3s ease;
  
        &:hover,
        &:focus {
          outline: 0;
          color: $primary;
        }
      }
    }
  }

  .drawer-clear {
    clear: both;
  }
}