.password-wrapper {
  margin-bottom: 24px;
  
  .ant-input-affix-wrapper {
    margin-top: 5px ;
  }

  input {
    color: $text-subtitle;
  }
  
  &.has-error {
    .ant-input, .ant-input-password {
      border-color: $danger;
    }
  
    .feedback {
      color: $danger;
    }
  
    .ant-input-password {
      .ant-input {
        border-color: transparent;
      }
    }
  }
  
  .password-error-wrapper {
    color: $danger;
    margin-top: 2px;
  }
}