.checkbox-wrapper {
  line-height: .1;
  margin-top: 0 !important;
  margin-bottom: 18px !important;
  
  &:first-child {
    margin-top: 0;
  }
  
  &:last-child {
    margin-bottom: 0;
  }
  
  .ant-checkbox-wrapper {
    font-size: 15px;
  }
  
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: $primary;
    border-color: $primary;
  }
}