.ant-select-dropdown {
  z-index: 10000 !important;

  .ant-select-item-option-content {
    color: $text;
    font-size: 16px;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) { 
    background-color: $filter;
  }
}

.select-wrapper {
  margin-bottom: 24px;
  
  &.has-error {
    .ant-select {
      border-color: $danger !important;
    }
  }
  
  .ant-select {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #383A3F;
    margin-top: 5px;
    
    .ant-select-selector {
      background: transparent !important;
      border: 0 !important;
      min-height: 38px;
      color: $text;
      font-size: 16px;
    
      .ant-select-selection-item {
        line-height: 38px;
      }
    
      input {
        margin-top: 4px !important;
      }
    }
  }

  .select-error-wrapper {
    color: $danger;
    margin-top: 2px;
  }
}