.input-wrapper {  
  input {
    margin-top: 5px;
    color: $text-subtitle;
  }
  
  &.has-error {
    input {
      border-color: $danger;
    }
  }

  .input-error-wrapper {
    color: $danger;
    margin-top: 2px;
  }
}