<!DOCTYPE html>
<html lang="en">
<head>
  <title>Microfrontends</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  
  <script type="systemjs-importmap" src="http://localhost:9090/importmap.json"></script>

  <% if (isLocal) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "@semnome/root-config": "//localhost:9000/semnome-root-config.js",
        "@semnome/navigation": "http://localhost:9090/navigation/remoteEntry.js",
        "@semnome/navigation": "http://localhost:9090/navigation/semnome-navigation.js",
        "@semnome/app-first": "http://localhost:9090/app-first/remoteEntry.js",
        "@semnome/app-first": "http://localhost:9090/app-first/semnome-app-first.js",
        "@semnome/app-second": "http://localhost:9090/app-second/remoteEntry.js",
        "@semnome/app-second": "http://localhost:9090/app-second/semnome-app-second.js"
      }
    }
  </script>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  
  <style>
    /* html, body {
      scroll-behavior: smooth;
      width: 100%;
      height: 100%;
    }

    body {
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      font-family: 'Lato', sans-serif;
    } */

    .nav {
      width: 10%;
      min-width: 200px;
      float: left;
    }

    .main, .main > div {
      height: 100%;
    }

    .main > div {
      background: #001529;
    }
  </style>
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>

  <template id="single-spa-layout">
    <single-spa-router>
      <nav class="nav">
        <application name="@semnome/navigation"></application>
      </nav>
      <main class="main">
        <route default>
          <application name="@semnome/app-first"></application>
        </route>
        <route path="second">
          <application name="@semnome/app-second"></application>
        </route>
      </main>
    </single-spa-router>    
  </template>

  <script>
    System.import('@semnome/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
